
nav {
    background: linear-gradient(to bottom, rgba(6, 99, 154, 0.7), transparent);
    color: aliceblue;
}

body {
    background: #ddd;
}

.carousel {
    max-width: 800px;
    max-height: 700px;
    margin: auto;
    box-shadow: 2px 3px 30px rgba(8, 66, 102, 0.7);
}

.card {
    transition: filter 0.3s ease;
    box-shadow: 2px 3px 30px rgba(8, 66, 102, 0.7);
}

.card:hover {
    filter: brightness(70%);
}

.card-title,
.card-text {
    color: #fff;
}

.card .description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; 
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 10px;
    color: #fff;
    width: 90%; 
    text-align: center; 
    opacity: 0; 
    transition: opacity 0.3s ease; 
}

.card:hover .description {
    opacity: 1; 
}




